.DS_Store

application/admin/cache/*
!application/admin/cache/index.html

application/admin/logs/*
!application/admin/logs/index.html

!application/admin/*/.htaccess

application/home/cache/*
!application/home/cache/index.html

application/home/logs/*
!application/home/logs/index.html

!application/home/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
